$si-typography: si-typography;


.#{$si-typography} {
    &__h1 {
        @include typography(22px, 600, #000);
        letter-spacing: 1px;
    }

    &__h3 {
        @include typography(16px, 500, #1d2025);
        letter-spacing: 1px;
    }

    &__h4 {
        @include typography(16px, 500, $grey-hard);
        letter-spacing: 1px;
    }

    &__h5 {
        @include typography(14px, 400, $grey-hard);
        letter-spacing: 1px;
    }
}