$si-main-intro: si-main-intro;

.#{$si-main-intro} {
    padding: $si-main-space;
    background-color: white;

    &__breadcrump-wrap {
        margin-top: $si-main-space / 10;

        li {
            margin-right: $si-main-space / 3;
            padding-right: $si-main-space / 3;
            position: relative;

            &:after {
                content: " ";
                position: absolute;
                height: 100%;
                right: 0;
                top: 0;
                width: 1px;
                background-color: $grey-hard;
                display: block;
            }

            &:last-child::after {
                display: none;
            }
        }
    }
}